@page
@model EventAPP.Pages.EventsPages.DeleteUserModel
@using EventLib.model;
@{
}
<h1> Delete User</h1>

@*<form method="post">
    <div class="form-group">
        <input type="submit"value="Delete User"asp-page-handler="DeleteUser" asp-route-id="@Model.user.Email"class="btn btn-danger"/>
    </div>
</form>*@

<form method="post">
    <input type="hidden" name="email" value="@Model.user.Email" />
    <button type="submit">Delete User</button>
</form>
